body {
    background-color: #ffebcd; /* A light orange/peach color */
    font-family: sans-serif;
}

.form-control {
    margin: 15px 0;
}

.form-control label {
    font-size: 18px; /*font size for labels */
    margin-right: 10px;
}

/* Styling for submit button */
.submit-btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

/* hover effect for submit button */
.submit-btn:hover {
    background-color: #555;
}

/* Styles for the second page */
body.thanks-page {
    background-color: #faebd7;
}

.thanks-page h1 {
    text-align: center;
}

.thanks-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}